# Assignment 1

## Task 1: Variables and Data Types

a) Create three variables: one for storing your age (integer), one for your name (string), and one to check if you are a student (Boolean). Print the variables.

In [55]:
age = 25
name = "John"
if_student = False

print(age, name, if_student)

25 John False

b) Perform the following operations and print the results:
   - Add 25 to your age variable.
   - Concatenate your name with the string "Smith."
   - Negate the Boolean variable (if True, make it False, and vice versa).

In [56]:
age =+ 25
name = name + " " + "Smith"
if_student = not(if_student )

print(age, name, if_student)

25 John Smith True

## Task 2: Expressions and Operators

a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables. Create a new variable called area and write an expression to calculate the area. Print the area in the output.

In [57]:
width = 5.5
height = 3.25
area = width * height
print(f"Area of a rectangle: {area} square units")

Area of a rectangle: 17.875 square units

b) Create a temperature variable in Celsius. Convert it to Fahrenheit using the formula: F = (C * 9/5) + 32. Store this temperature in a variable called Fahrenheit and print this variable.

In [58]:
temp_Celsius = 32

temp_Fahrenheit = (temp_Celsius * (9/5))+32

print(f"Temperature in Fahrenheit: {temp_Fahrenheit}")

Temperature in Fahrenheit: 89.6

a) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius and store it in a variable called area. Print area at the end of your code. (Use the formula: area = π * radius^2, where π (pi) is approximately 3.14159).

In [59]:
radius = 5
pi = 3.14159

area = pi * radius**2

print(f"Area of a Circle: {area}")

Area of a Circle: 78.53975

##Task 3: Introduction to Data Structures

a) Create a list called "fruits" containing the following fruits: "apple," "banana," "orange," "grape," and "kiwi." Print the list.

In [60]:
fruits = ["apple", "banana" ,"orange" ,"grape" , "kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

b) Create a tuple named "months" with the names of the first three months of the year. Print the tuple.

In [61]:
months = ("January","February","March")
print(months)

('January', 'February', 'March')

## Task 4: List Manipulation

a) Given the list of numbers below, write a Python program to calculate the sum and average of these numbers. Print both results.
   numbers = [12, 34, 45, 67, 89, 100, 23, 56]

In [62]:
numbers = [12, 34, 45, 67, 89, 100, 23, 56]

num_sum = sum(numbers)

num_avg = sum(numbers)/len(numbers)

print(f"Sum of numbers: {num_sum}\nAverage of numbers: {num_avg}")

Sum of numbers: 426
Average of numbers: 53.25

b) Remove the first and last elements from the "fruits" list created earlier. Print the updated list.

In [63]:
fruits

#removing first element
fruits.pop(0)

#removing last element
fruits.pop(-1)

print(fruits)

['banana', 'orange', 'grape']

## Task 5: Dictionary Operations

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington D.C.," "France" - "Paris," and "Japan" - "Tokyo." Print the dictionary.

In [64]:
capitals = {"USA":"Washington D.C.", "France": "Paris" ,"Japan": "Tokyo"}
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany," and the capital is "Berlin." Print the updated dictionary.

In [65]:
capitals["Germany"] = "Berlin"
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary," otherwise, print "France is not in the dictionary." (at the end of the lab notebook for session 1, I have added an example of how to use “in” in python).

In [66]:
if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary

## Task 6: Comparison Operators, Logical Operators and If/Else:

a) Create a variable called number that takes user input (we studied the input() function). Next, write a block of code that checks if the number is even or odd (hint: modulo operator. Refer to lab notebook 1). 
Your output should print “The number is even”, or the “The number is odd”.

In [67]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 35
The number is odd

b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of code to check if a student with this age and GPA is eligible for admission. The following are the conditions:
   - The student must be at least 18 years old.
   - The student's GPA must be 3.0 or higher on a scale of 4.0.
   Your output should print “Eligible for admission” or “Not eligible for admission”.

In [68]:
age = 22
GPA = 3.6

if age >= 18 and GPA >= 3.0:
    print("Eligible for admission")
else:
    print("Not Eligible for admission")

Eligible for admission

## Task 7: Advanced Data Types

a) Create a set named "fruits_set" containing the following fruits: "apple," "banana," "orange," "grape," and "kiwi." Print the set.

In [69]:
fruits_set = {"apple", "banana" ,"orange" ,"grape" , "kiwi"}
print(fruits_set)

{'grape', 'kiwi', 'apple', 'orange', 'banana'}

b) Given two sets:
   set1 = {1, 2, 3, 4, 5}
   set2 = {3, 4, 5, 6, 7}
   Write Python code to perform the following operations and print the results:
   - Union of set1 and set2.
   - Intersection of set1 and set2.
   - Difference between set1 and set2.
   - Check if set1 is a subset of set2.

In [70]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7} 

#print(f"Union: {set1.union(set2)}")
print(f"Union: {set1 |set2}")

#print(f"Intersection: {set1.intersection(set2)}")
print(f"Intersection: {set1 & set2}")

#print(f"Difference: {set1.difference(set2)}")
print(f"Difference: {set1 - set2}")

print(f"set1 is a subset of set2: {set1.issubset(set2)}")

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference: {1, 2}
set1 is a subset of set2: False

## Task 8: Strings Manipulation

a) Create a string variable containing the following sentence:
   "Python programming is fun and powerful!"
   Write Python code to do the following and print the results:
   - Find the length of the string.
   - Convert the string to uppercase.
   - Replace "fun" with "exciting."
   - Check if the string contains the word "Python."
   - Split the string into a list of words.

In [71]:
str = "Python programming is fun and powerful!"

print(f"Length of string is: {len(str)}")

str = str.replace("fun","exciting")
print(str)

print("Python" in str)

print(str.split(" "))

Length of string is: 39
Python programming is exciting and powerful!
True
['Python', 'programming', 'is', 'exciting', 'and', 'powerful!']